<script>
  rudderanalytics = window.rudderanalytics = [];
  var methods = [
    "load",
    "page",
    "track",
    "identify",
    "alias",
    "group",
    "ready",
    "reset",
    "setAnonymousId",
    "getAnonymousId",
  ];
  for (var i = 0; i < methods.length; i++) {
    var method = methods[i];
    rudderanalytics[method] = (function (methodName) {
      return function () {
        rudderanalytics.push(
          [methodName].concat(Array.prototype.slice.call(arguments))
        );
      };
    })(method);
  }
  rudderanalytics.load(
    "YOUR_WRITE_KEY",
    "DTA_PLANE_URL"
  );
  rudderanalytics.ready(function () {
    console.log("Application is ready with JS");
  });
  rudderanalytics.track("Simple track call1");
</script>
<script src="https://cdn.rudderlabs.com/v1/rudder-analytics.min.js"></script>
