---
layout: default
---
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <figure>
      <img src="{{ site.github.url }}/assets/img/avatar.jpg" alt="Home" width="70%">
      <figcaption>Hawaii, 2022</figcaption>
    </figure>
  </div>
  <div class="col-md-5">
    {{ content }}
  </div>
</div>

{% include publications.html %}
{% include awards.html %}
{% include presentations.html %}

<!-- <div class="row g-5 mb-5">
  <div class="col-md-12">
    <h3 class="fw-bold border-bottom pb-3 mb-5">Updates</h3>
    {% for post in site.posts %}
      <p><a href="{{ site.github.url }}/{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%B %-d, %Y" }}</p>
    {% endfor %}
  </div>
</div> -->
